<br/>
<button kendoButton (click)="onAddNewAuthor()">Add Author</button>
<br/>
<br/>

<kendo-grid
  [kendoGridBinding]="(authorItems$ | async)!"
  [pageSize]="20"
  [resizable]="true"
  (edit)="onEditAuthor($event)"
  (remove)="onRemoveAuthor($event)"
>

  <kendo-grid-column field="name" title="Author Name" [width]="220">

  </kendo-grid-column>
  <kendo-grid-column field="genre" title="Genre" [width]="220">

  </kendo-grid-column>
  <kendo-grid-command-column title="Actions" [width]="220">
    <ng-template kendoGridCellTemplate>
      <button kendoGridRemoveCommand>
        <span class="k-icon k-i-delete"></span>
      </button>

      <button kendoGridEditCommand>
        <span class="k-icon k-i-pencil"></span>
      </button>

    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

